/* Reset the container */
.container {
  max-width: none !important;
  width: 970px;
  margin-left: 210px;
  position: absolute;
}
/* Demonstrate the grids */
.col-xs-4 {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #eee;
  border: 1px solid #ddd;
  background-color: rgba(86, 61, 124, 0.15);
  border: 1px solid rgba(86, 61, 124, 0.2);
}
.container .navbar-header,
.container .navbar-collapse {
  margin-right: 0;
  margin-left: 0;
}
/* Always float the navbar header */
.navbar-header {
  float: left;
}
/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
}
.navbar-toggle {
  display: none;
}
.navbar-brand {
  margin-left: -15px;
}
/* Always apply the floated nav */
.navbar-nav {
  float: left;
  margin: 0;
}
.navbar-nav > li {
  float: left;
}
.navbar-nav > li > a {
  padding: 15px;
}
/* Redeclare since we override the float above */
.navbar-nav.navbar-right {
  float: right;
}
/* Undo custom dropdowns */
.navbar .open .dropdown-menu {
  position: absolute;
  float: left;
  background-color: #fff;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-width: 0 1px 1px;
  border-radius: 0 0 4px 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}
.navbar .open .dropdown-menu > li > a {
  color: #333;
}
.navbar .open .dropdown-menu > li > a:hover,
.navbar .open .dropdown-menu > li > a:focus,
.navbar .open .dropdown-menu > .active > a,
.navbar .open .dropdown-menu > .active > a:hover,
.navbar .open .dropdown-menu > .active > a:focus {
  color: #fff !important;
  background-color: #428bca !important;
}
.navbar .open .dropdown-menu > .disabled > a,
.navbar .open .dropdown-menu > .disabled > a:hover,
.navbar .open .dropdown-menu > .disabled > a:focus {
  color: #999 !important;
  background-color: transparent !important;
}
body {
  padding-top: 70px;
  padding-bottom: 30px;
}
#left-menu {
  width: 200px;
  min-height: 450px;
  margin-right: 5px;
  float: left;
}
.m-container {
  float: left;
  position: absolute;
  margin-left: 200px;
}
.c-container {
  border: 1px solid #e0e0e0;
  padding: 5px;
  min-height: 450px;
}
form.small-form {
  max-width: 250px;
}
form.small-form input,
form.small-form select,
form.small-form textarea,
form.small-form button {
  margin-bottom: 10px;
}
span.glyphicon {
  margin-right: 10px;
}
.error-message {
  margin-bottom: 10px;
  color: red;
}
.ebook #ebook-form {
  max-width: 550px;
}
.ebook #ebook-form .form-panel {
  max-width: 250px;
  float: left;
  width: 100%;
  margin-right: 10px;
}
.full-width {
  width: 100%;
}
.no-space {
  margin: 0px;
  padding: 0px;
}
.zk-tranparent {
  background-color: #000000;
  opacity: 0.7;
  color: white;
  padding: 5px;
  text-align: center;
  /*a:hover{
    font-weight: bold;
    transition: font-weight 1000ms linear;
  }*/

}
.zk-tranparent a {
  color: white;
  text-decoration: none;
}
.zk-line {
  min-height: 5px;
  margin-bottom: 1px;
  width: 100%;
}
.zk-panel {
  background-color: #7db641;
  color: white;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-bottom: 5px;
}
/*border color class*/
.b-red {
  border: 1px solid red;
}
.zbordered {
  border: 1px solid #e0e0e0;
}
/*!BACKGROUND COLOR*/
.zgray-line {
  height: 1px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 5px;
}
.zbg-steal {
  background-color: #00aba9;
}
.zbg-azure {
  background-color: #2faaf7;
}
.zbg-orange {
  background-color: #f09609;
}
.zbg-amethyst {
  background-color: #9966CC;
}
.zbg-emerald {
  background-color: #50C878;
}
.zbg-baby-blue {
  background-color: #89CFF0;
}
.zbg-violet {
  background-color: #EE82EE;
}
.zbg-purple {
  background-color: #800080;
}
.zbg-white {
  background-color: white;
}
/*label*/
.zlabel .new-brand {
  background-color: #00aa00;
}
.zlabel li {
  list-style: none;
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}
.zlabel li a {
  border-radius: 4px;
  text-decoration: none;
  color: white;
  padding: 5px;
  height: 20px;
  cursor: pointer;
  background-color: #0089e0;
}
.zlabel li a:hover {
  background-color: #555;
  color: #ffffff;
}
.zlabel li a em {
  margin-left: 10px;
  padding-bottom: 10px;
}
/*!YOUTUBE RESPONSIVE */
.youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.youtube-video iframe,
.youtube-video object,
.youtube-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/*!TAGS*/
.tags {
  margin: 0;
  padding: 0;
  list-style: none;
}
.tags li,
.tags a {
  float: left;
  height: 24px;
  line-height: 24px;
  position: relative;
  font-size: 11px;
  margin-bottom: 10px;
}
.tags a {
  margin-left: 20px;
  padding: 0 10px 0 12px;
  background: #0089e0;
  color: #fff;
  text-decoration: none;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
  -moz-border-radius-topright: 4px;
  -webkit-border-top-right-radius: 4px;
  border-top-right-radius: 4px;
}
.tags a:before {
  content: "";
  float: left;
  position: absolute;
  top: 0;
  left: -12px;
  width: 0;
  height: 0;
  border-color: transparent #0089e0 transparent transparent;
  border-style: solid;
  border-width: 12px 12px 12px 0;
}
.tags a:after {
  content: "";
  position: absolute;
  top: 10px;
  left: 0;
  float: left;
  width: 4px;
  height: 4px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  background: #fff;
  -moz-box-shadow: -1px -1px 2px #004977;
  -webkit-box-shadow: -1px -1px 2px #004977;
  box-shadow: -1px -1px 2px #004977;
}
.tags a:hover {
  background: #555;
}
.tags a:hover:before {
  border-color: transparent #555 transparent transparent;
}
