.full-width{
  width: 100%;
}

.no-space{
  margin: 0px;
  padding: 0px;
}

.zk-tranparent{
  background-color: #000000;
  opacity: 0.7;
  color: white;
  padding: 5px;
  text-align: center;
  a {
    color: white;
    text-decoration: none;
  }
  /*a:hover{
    font-weight: bold;
    transition: font-weight 1000ms linear;
  }*/
}

.zk-line{
  min-height: 5px;
  margin-bottom: 1px;
  width: 100%;
}
.zk-panel {
  background-color: #7db641;
  color: white;
  padding: 5px 20px 5px 20px;
  font-size: 20px;
  margin-bottom: 5px;
}
/*border color class*/
.b-red{
  border: 1px solid red;
}
.zbordered{
  border: 1px solid #e0e0e0;
}
/*!BACKGROUND COLOR*/
.zgray-line{
  height: 1px;
  border-bottom: 1px solid #e0e0e0;
  margin-bottom: 5px;
}

.zbg-steal{
  background-color: #00aba9;
}

.zbg-azure{
  background-color: #2faaf7;
}

.zbg-orange{
  background-color: #f09609;
}

.zbg-amethyst{
  background-color: #9966CC;
}

.zbg-emerald{
  background-color: #50C878;
}

.zbg-baby-blue {
  background-color: #89CFF0;
}

.zbg-violet{
  background-color: #EE82EE;
}

.zbg-purple{
  background-color: #800080;
}

.zbg-white{
  background-color: white;
}
/*label*/
.zlabel  {
  .new-brand{
    background-color: #00aa00;
  }
  li{
    list-style: none;
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
    a{
      border-radius: 4px;
      text-decoration: none;
      color: white;
      padding: 5px;
      height: 20px;
      cursor: pointer;
      background-color: #0089e0;
      &:hover{
        background-color: #555;
        color: #ffffff;
      }
      em {
        margin-left: 10px;
        padding-bottom: 10px;
      }
    }
  }
}
/*!YOUTUBE RESPONSIVE */
.youtube-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0; overflow: hidden;
  iframe, object, embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

/*!TAGS*/
.tags{
  margin:0;
  padding:0;

  list-style:none;
  li,a{
    float:left;
    height:24px;
    line-height:24px;
    position:relative;
    font-size:11px;
    margin-bottom: 10px;
  }
  a{
    margin-left:20px;
    padding:0 10px 0 12px;
    background:#0089e0;
    color:#fff;
    text-decoration:none;
    -moz-border-radius-bottomright:4px;
    -webkit-border-bottom-right-radius:4px;
    border-bottom-right-radius:4px;
    -moz-border-radius-topright:4px;
    -webkit-border-top-right-radius:4px;
    border-top-right-radius:4px;
    &:before{
      content:"";
      float:left;
      position:absolute;
      top:0;
      left:-12px;
      width:0;
      height:0;
      border-color:transparent #0089e0 transparent transparent;
      border-style:solid;
      border-width:12px 12px 12px 0;
    }
    &:after{
      content:"";
      position:absolute;
      top:10px;
      left:0;
      float:left;
      width:4px;
      height:4px;
      -moz-border-radius:2px;
      -webkit-border-radius:2px;
      border-radius:2px;
      background:#fff;
      -moz-box-shadow:-1px -1px 2px #004977;
      -webkit-box-shadow:-1px -1px 2px #004977;
      box-shadow:-1px -1px 2px #004977;
    }
    &:hover{
      background:#555;
    }
    &:hover:before{
      border-color:transparent #555 transparent transparent;
    }
  }

}

