body {
  padding-top: 70px;
  padding-bottom: 30px;
}
#left-menu {
  width: 200px;
  min-height: 450px;
  margin-right: 5px;
  float: left;
}

.m-container {
  float: left;
  position: absolute;
  margin-left: 200px;
}

.c-container {
  border: 1px solid #e0e0e0;
  padding: 5px;
  min-height: 450px;
}

form.small-form{
  max-width: 250px;
  input,select,textarea,button{
    margin-bottom: 10px;
  }
}

span.glyphicon{
  margin-right: 10px;
}

.error-message{
  margin-bottom: 10px;
  color: red;
}